body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainCont{
    width: calc(100vw - 70px);
    padding: 0 !important;
    margin-top: 70px;
    height: 100%;
    position: relative;
    padding-bottom: 20px!important;
}
